{% extends 'layout.html' %}

{% block css%} 
    <link rel="stylesheet" href="/css/leaflet.css" />
	<link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/unit.css" />
{%endblock%}

{% block topjs %}
    <script src="/js/lib/leaflet.js"></script>
	<script src="/js/lib/leaflet-providers.js"></script>
    <script src="/js/lib/google_tiles.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/debug.js"></script>
	<script type="text/javascript" src="/js/countries.js"></script>
	<script type="text/javascript" src="/js/unit.types.js"></script>
	<script type="text/javascript" src="/js/move.js"></script>
    <script type="text/javascript" src="/js/interface.js"></script>
	<script type="text/javascript" src="/js/game.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>
    <script type="text/javascript" src="/js/unit.event.js"></script>
    <script type="text/javascript" src="/js/helper.js"></script>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript" src="/js/route.js"></script>
    <script type="text/javascript" src="/js/socket.js"></script>
    <script type="text/javascript" src="/js/map.js"></script>
    <script type="text/javascript" src="/js/unit.js"></script>
    <script type="text/javascript" src="/js/unit.factory.js"></script>
    <script type="text/javascript" src="/js/join.user.js"></script>
    <script type="text/javascript" src="/js/app.join.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    
    
{% endblock %}

{% block content %}
    <hr />
                
                <div id="map">
                <div id="weather-info" class="font-response weather-info"></div>
                </div>
                <div class="title"><h3 class="grad rad2">{{title}}</h3></div>
                
                
                <div class="btn-block control-block grad2 font-response">
                   <button class="btn rad grad text-hover  font-response" id="btn-menu">Меню</button><br />
                </div>
                <div id="unit-info" class="unit-info font-response"></div>
                <div class="set-units control-block grad2 font-response">
                    <label>Выберите страну</label>
                    <select id="set-country"></select>
                    <hr />
                    <label>Установите на карте доступные Вам Юниты:</label>
                    <hr />
                    <ul id="units-list">
                        
                    </ul>
                    <hr />
                    <button class="btn rad grad text-hover  font-response" id="btn-clear-all">Удалить все</button>
                    <button class="btn rad grad text-hover  font-response" id="btn-begin-game">Начать игру</button>
                </div>
                
                
        <hr size="3" />

{% endblock %}

{% block bottomjs %}
    
    
    
{% endblock %}