{% extends 'layout.html' %}

{% block css%} 
    <link rel="stylesheet" href="/css/leaflet.css" />
	<link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/unit.css" />
{%endblock%}

{% block topjs %}
    <script type="text/javascript" src="/js/app.join.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>   
{% endblock %}

{% block content %}
    <hr />
                
                <div id="map">
                <div id="preloader">
                    <img src="/img/load.gif"/>
                </div>
                <div id="weather-info" class="font-response weather-info"></div>
                </div>
                <div class="title"><h3 id="mission-label" class="cursor grad rad2">{{title}}</h3></div>
                
                
                <div class="btn-block control-block grad2 font-response">
                   <button class="btn rad grad text-hover  font-response" id="btn-menu">Меню</button><br />
                </div>
                <div id="unit-info" class="unit-info font-response"></div>
                <div class="set-units control-block grad2 font-response">
                    <input type="text" id="username" placeholder="Ваше имя"/>
                    <label>Выберите страну</label>
                    <select id="set-country"></select>
                    <hr />
                    <label>Установите на карте доступные Вам Юниты:</label>
                    <hr />
                    <ul id="units-list">
                        
                    </ul>
                    <hr />
                    <button class="btn rad grad text-hover  font-response" id="btn-clear-all">Удалить все</button>
                    <button class="btn rad grad text-hover  font-response" id="btn-begin-game">Начать игру</button>
                </div>
                <div id="mission-info" class="mission-info font-response"></div>
                
                
        <hr size="3" />

{% endblock %}

{% block bottomjs %}
    
    
    
{% endblock %}