<!DOCTYPE html>
<html>
<head>
  <title>{{dict.online_strategy}}</title>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8" />
	<link rel="stylesheet" href="/css/leaflet.css" />
	<link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/unit.css" />
    {% block css %}{% endblock %}
    
    <script src="/js/lib/leaflet.js"></script>
	<script src="/js/lib/leaflet-providers.js"></script>
    <script src="/js/lib/google_tiles.js"></script>
    <script src="/js/lib/yandex_tiles.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="http://api-maps.yandex.ru/2.0/?load=package.map&lang=ru-RU"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/storage.js"></script>
    <script type="text/javascript" src="/js/dicts.js"></script>
	<script type="text/javascript" src="/js/debug.js"></script>
	<script type="text/javascript" src="/js/countries.js"></script>
	<script type="text/javascript" src="/js/unit.types.js"></script>
	<script type="text/javascript" src="/js/move.js"></script>
    <script type="text/javascript" src="/js/interface.js"></script>
	<script type="text/javascript" src="/js/game.js"></script>
    <script type="text/javascript" src="/js/map.js"></script>
    <script type="text/javascript" src="/js/unit.js"></script>
    <script type="text/javascript" src="/js/unit.factory.js"></script>
    <script type="text/javascript" src="/js/user.js"></script>
    <script type="text/javascript" src="/js/mouse.js"></script>
    <script type="text/javascript" src="/js/helper.js"></script>
    <script type="text/javascript" src="/js/socket.js"></script>
    <script type="text/javascript" src="/js/ajax.js"></script>
    
    
    {% block topjs %}{% endblock %}
      
</head>
    <body>
        {% block content %} {% endblock %}
        <div id="alert-wrap">
            <div class="alert grad2">
                <div id="alert-text"></div> 
                <button id="alert-button">{{dict.close}}</button>
            </div>
        </div>
        <div class="lang grad2 rad">
            <select id="lang">
            </select>
        </div>      
        {% block bottomjs %}{% endblock %}
    </body>
</html>