{% extends 'layout.html' %}

{% block css%}{%endblock%}

{% block topjs %}
    <script type="text/javascript" src="/js/app.play.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>     
{% endblock %}

{% block content %}
    <hr />
                
                <div id="map">
                <div id="weather-info" class="font-response weather-info"></div>
                </div>
                <div class="title"><h3 id="mission-label" class="cursor grad rad2">{{dict[title]}}</h3></div>
                
                
                <div class="btn-block control-block grad2 font-response">
                    
                    <label id="label-btn-block" class="text-hover font-response"></label><br />
                   <!--<button class="btn rad grad text-hover font-response" id="btn-pause">Пауза</button><br />-->
                   <button class="btn rad grad text-hover  font-response" id="btn-exit">{{dict.main_menu}}</button><br />
                   <!--<label class="text-hover font-response">Сервис маршрутов:</label><br/>
                   <select class="btn rad grad text-hover font-response" id="service">
        				<option selected="selected" value="google" >Google</option>
        				<option value="osrm" >OSRM</option>
        				<option  value="spatialite" >Spatialite</option>
        			</select>--> 
                </div>
                
                
                <div class="log-block control-block grad2 font-response">
                    
                    <label id="label-log-block" class="text-hover font-response">-</label><br/>
                    <div class="log-message font-response" id="log-message"></div>
                </div>
                
                <div class="info-block control-block grad2 font-response">
                    
                    <label id="label-info-block" class="text-hover font-response">-</label><br/>
                    <div class="info-message font-response" id="info-message"></div>
                    <hr />
                    <label id="username"></label>
                    <img id="country-image" src=""/>
                </div>
                <div id="preloader"><img src="/img/load.gif"/></div>
                <div id="unit-info" class="unit-info font-response"></div>
                <div id="mission-info" class="mission-info font-response"></div>
                
                
        <hr size="3" />
        

{% endblock %}

{% block bottomjs %}
    
{% endblock %}